------------------------------------
Name : Clean
----------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: neo
}
iframe {
    display: none !important;
}
.disable {
    width: calc(100% - 35px);
    margin: 0 auto;
}
.disable p {
    background: white;
    padding: 15px 0;
    border-radius: 3px;
    border: 1px solid rgba(255, 32, 0, 0.21);
    color: #d00b00;
}
.ad-One {
    margin: 10px auto;
    width: 98%;
}
.ad-One img {
    max-width: 100%;
}

.ad-two {
    width: 95%;
    margin: 10px auto;
}
.ad-two img {
    max-width: 100%;
}
.Osm-admin a {
    text-decoration: blink;
    color: aliceblue;
    font-size: 12px;
    margin: 0 0 0 10px;
}
.Osm-admin {
    background: rgba(0, 81, 140, 0.5);
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 15px;
}
.copyright {
    text-align: center;
    display: block;
    color: aliceblue;
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin: 10px auto;
}

.pack-link.others {
    display: none
}
.background {
    background: url(https://i.imgur.com/E6QbXl1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100%;
    position: absolute
}
.mypage {
    width: 50%;
    background: url(http://i.imgur.com/5rvVPzw.jpg) no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    padding: 10px 0;
    min-height: 800px;
}
div#adfoo {
    width: calc(100% - 10px);
    margin: 15px auto;
}
div#adfoo img {
    width: 100%;
}
.logo {
    width: 100%;
    height: 120px;
    background: rgba(96, 125, 139, 0) url(https://i.imgur.com/20rOV6V.png) no-repeat 50%;
    margin: 15px auto;
    background-size: contain;
}
.button {
    margin: 0 auto;
    border-radius: 3px;
    text-align: center;
    display: inline-flex
}
._32is {
    display: inline-block;
    background: #00e428;
    padding: 3px 16px;
    border-radius: 1px
}
._info {
    background: #003e5d;
    padding: 3px;
    border-radius: 1px;
    margin-left: 2px;
    width: 20px;
    display: inline-block
}
._info path {
    fill: white
}
.button a {
    color: white;
    text-decoration: blink;
    font-weight: 700
}
._c {
    text-align: center;
    margin: 20px 0
}
a.cdttitle {
    color: aliceblue;
    text-decoration: blink
}
#safe-wrapper {
    text-align: center
}
.cdtloader {
    font-size: 0;
    display: inline-block;
    -webkit-animation: outer 6600ms linear infinite;
    animation: outer 6600ms linear infinite
}
.cdtloader svg {
    -webkit-animation: inner 1320ms linear infinite;
    animation: inner 1320ms linear infinite
}
.cdtloader svg circle {
    fill: none;
    stroke: #e8e8e8;
    stroke-linecap: square;
    -webkit-animation: arc 1320ms cubic-bezier(.8, 0, .4, .8) infinite;
    animation: arc 1320ms cubic-bezier(.8, 0, .4, .8) infinite
}
@-webkit-keyframes outer {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes outer {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@-webkit-keyframes inner {
    0% {
        -webkit-transform: rotate(-100.8deg);
        transform: rotate(-100.8deg)
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}
@keyframes inner {
    0% {
        -webkit-transform: rotate(-100.8deg);
        transform: rotate(-100.8deg)
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}
@-webkit-keyframes arc {
    0% {
        stroke-dasharray: 1 210.48670779px;
        stroke-dashoffset: 0
    }
    40% {
        stroke-dasharray: 151.55042961px, 210.48670779px;
        stroke-dashoffset: 0
    }
    100% {
        stroke-dasharray: 1 210.48670779px;
        stroke-dashoffset: -151.55042961px
    }
}
@keyframes arc {
    0% {
        stroke-dasharray: 1 210.48670779px;
        stroke-dashoffset: 0
    }
    40% {
        stroke-dasharray: 151.55042961px, 210.48670779px;
        stroke-dashoffset: 0
    }
    100% {
        stroke-dasharray: 1 210.48670779px;
        stroke-dashoffset: -151.55042961px
    }
}
._lo72 {
    text-align: center;
    margin: 50px 0
}
.social-icons {
    text-align: center
}
#_l123 {
    font-family: neo;
    padding: 7px 15px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    background: #1b72c1;
    color: aliceblue;
    border: 0;
    border-radius: 3px
}
#_l123 i {
    margin-left: 5px
}
._p34 {
    display: none;
    background: rgba(0, 0, 0, 0.61);
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    top: 0
}
.linkresult {
    width: calc(100% - 35px);
    padding: 10px 0;
    direction: ltr;
    color: #0d53a9;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: white;
    border-left: 5px solid;
    text-indent: 5px;
    border-radius: 3px;
    margin: 10px auto
}
._x381 {
    margin: 0 auto;
    width: calc(100% - 35px);
    border: 1px solid #1b72c1;
    border-radius: 3px;
    overflow: hidden
}
._x381 input {
    display: inline-flex;
    height: 50px;
    padding: 0;
    direction: ltr!important;
    text-indent: 15px;
    width: 100%;
    border: 0
}
#result {
    margin: 20px 15px 50px
}
.date-header,
.post-footer {
    display: none
}
.copyright a {
    color: aliceblue;
    text-decoration: blink
}
.copyright {
    text-align: center;
    display: block;
    color: aliceblue;
    font-size: 12px;
    margin-top: 30px
}
.v-center {
    height: 100vh;
    width: 100%;
    display: table;
    position: relative;
    text-align: center
}
.v-center &gt;
div {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -10%
}
.btn {
    font-size: 3vmin;
    padding: 0.75em 1.5em;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    text-decoration: none;
    display: inline;
    border-radius: 4px;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease
}
.btn:hover {
    background-color: #ddd;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease
}
.btn-small {
    padding: .75em 1em;
    font-size: 0.8em
}
._c1 {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 98%;
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box
}
@media (min-width: 32em) {
    ._c1 {
        width: 70%
    }
}
._c1 header,
._c1 .modal-header {
    padding: 1.25em 1.5em;
    border-bottom: 1px solid #ddd
}
._c1 header h3,
._c1 header h4,
._c1 .modal-header h3,
._c1 .modal-header h4 {
    margin: 0
}
._c1 ._c3 {
    padding: 2em 1.5em;
    background: url(http://i.imgur.com/5rvVPzw.jpg) no-repeat;
    background-size: cover;
    color: aliceblue;
    font-weight: 700;
    border-radius: 3px;
}
._c1 footer,
._c1 .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right
}
.osmbox {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3) !important
}
a.close {
    line-height: 1;
    font-size: 1.5em;
    position: absolute;
    top: 5%;
    right: 2%;
    text-decoration: none;
    color: #bbb
}
a.close:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease
}
#eelan {
    width: 100%;
    position: relative;
}
#eelan > div > h2 {
    display: none;
}
#eelan img {
    max-width: 94%;
}
span.tryit {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
}
span.tryit a {
    padding: 3px 8px;
    background: #006dc5;
    text-decoration: blink;
    border-radius: 3px;
    color: aliceblue;
    font-size: 13px;
}

@media screen and (max-width: 1147px) {
    .mypage {
        width: 35%
    }
}
@media screen and (max-width: 1040px) {
    .mypage {
        width: 40%
    }
}
@media screen and (max-width: 960px) {
    .mypage {
        width: 45%
    }
}
@media screen and (max-width: 840px) {
    .mypage {
        width: 50%
    }
}
@media screen and (max-width: 760px) {
    .mypage {
        width: 55%
    }
}
@media screen and (max-width: 675px) {
    .mypage {
        width: 70%
    }
}
@media screen and (max-width: 560px) {
    .mypage {
        width: 85%
    }
}


]]>
